<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar Cerveja</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text"[(ngModel)]="beer.name"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Preço</ion-label>
          <ion-input type="text"[(ngModel)]="beer.price"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Tipo</ion-label>
            <ion-input type="text"[(ngModel)]="beer.type"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Marca</ion-label>
            <ion-input type="text"[(ngModel)]="beer.mark"></ion-input>
        </ion-item>
      
      </ion-list>

      <button ion-button full (click)="saveBeer(beer)">Cadastrar</button>
<!--   <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
